Repository etn-ccis/blui-doc-it, pull requests merged in 2023-01, with the labels that each got.

#620 Change links to point to GitHub Enterprise
  .circleci/config.yml
  README.md
  package.json
  src/__configuration__/landingPage/cardData.ts
  src/__configuration__/resources/index.tsx
  src/app/api/index.tsx
  src/app/components/docsUtil/DemoCard.tsx
  src/app/components/icons/IconDrawer.tsx
  src/app/components/icons/UniversalIconBrowser.tsx
  src/app/components/icons/utilityFunctions.tsx
  src/app/components/layout/ComponentCatalogGrids.tsx
  src/app/components/resources/ButtonRow.tsx
  src/app/components/resources/ResourceRow.tsx
  src/app/components/resources/buttons/BugsButton.tsx
  src/app/components/resources/buttons/BuildButton.tsx
  src/app/components/resources/buttons/DemoButton.tsx
  src/app/pages/Roadmap.tsx
  src/database/index-database.json
  src/database/sitemap-database.json
  src/docs/development/cli.mdx
  src/docs/development/frameworks-mobile/ionic.mdx
  src/docs/development/frameworks-mobile/react-native.mdx
  src/docs/development/frameworks-web/angular.mdx
  src/docs/development/frameworks-web/react.mdx
  src/docs/overview.mdx
  src/docs/patterns/account-menu.mdx
  src/docs/patterns/appbar.mdx
  src/docs/patterns/forms.mdx
  src/docs/patterns/internationalization.mdx
  src/docs/patterns/lists.mdx
  src/docs/patterns/loading.mdx
  src/docs/patterns/overlay.mdx
  src/docs/patterns/steppers.mdx
  src/docs/patterns/user-auth.mdx
  src/docs/release-notes/R14/FullNotes.mdx
  src/docs/release-notes/R14/Summary.mdx
  src/docs/release-notes/R15/FullNotes.mdx
  src/docs/release-notes/R15/Summary.mdx
  src/docs/release-notes/R16/FullNotes.mdx
  src/docs/release-notes/R17/FullNotes.mdx
  src/docs/release-notes/R18/FullNotes.mdx
  src/docs/release-notes/R18/Summary.mdx
  src/docs/release-notes/R21/FullNotes.mdx
  src/docs/release-notes/R22/FullNotes.mdx
  src/docs/release-notes/R23/FullNotes.mdx
  src/docs/release-notes/R24/FullNotes.mdx
  src/docs/release-notes/R25/FullNotes.mdx
  src/docs/style/icon-guidelines.mdx
  src/docs/style/logo.mdx
  src/docs/style/themes.mdx
  yarn.lock
Labels: brightlayer-ui

#622 BLUI-3719: material.io -> m2.material.io
  src/database/index-database.json
  src/database/sitemap-database.json
  src/docs/community/bugs.mdx
  src/docs/design/project-identity.mdx
  src/docs/design/websites.mdx
  src/docs/get-started/mobile.mdx
  src/docs/overview.mdx
  src/docs/patterns/appbar.mdx
  src/docs/patterns/buttons.mdx
  src/docs/patterns/empty-states.mdx
  src/docs/patterns/forms.mdx
  src/docs/patterns/home.mdx
  src/docs/patterns/internationalization.mdx
  src/docs/patterns/layout.mdx
  src/docs/patterns/lists.mdx
  src/docs/patterns/loading.mdx
  src/docs/patterns/navigation.mdx
  src/docs/patterns/overlay.mdx
  src/docs/patterns/steppers.mdx
  src/docs/patterns/tables.mdx
  src/docs/patterns/visualizations.mdx
  src/docs/style/color.mdx
  src/docs/style/icon-guidelines.mdx
  src/docs/style/illustrations.mdx
  src/docs/style/themes.mdx
  src/docs/style/typography.mdx
Labels: brightlayer-ui

#624 Add react-native-paper v4 peer dependency disclaimer
  src/docs/development/frameworks-mobile/react-native.mdx
  src/docs/patterns/forms.mdx
  src/docs/release-notes/R21/FullNotes.mdx
Labels: brightlayer-ui, feature

#628 Update "current maintainers" list
  src/__configuration__/contributors/contributors.ts
  src/__configuration__/contributors/currentMaintainers.ts
Labels: brightlayer-ui

#629 Remove stalebot
  .github/stale.yml
Labels: brightlayer-ui

#631 update labeler
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: brightlayer-ui

#633 Update the holiday schedule
  src/__configuration__/themes/_schedule.ts
  src/__configuration__/themes/diwali.ts
  src/__configuration__/themes/hanukkah.ts
  src/__configuration__/themes/mid-autumn-festival.ts
Labels: brightlayer-ui

#634 Fix icon repos' changelog links
  src/docs/release-notes/R22/FullNotes.mdx
  src/docs/release-notes/R23/FullNotes.mdx
  src/docs/release-notes/R25/FullNotes.mdx
Labels: brightlayer-ui

#635 Fix icon repos' changelog links
  src/docs/release-notes/R22/FullNotes.mdx
  src/docs/release-notes/R23/FullNotes.mdx
  src/docs/release-notes/R25/FullNotes.mdx
Labels: master, brightlayer-ui

#636 Use dynamic version to create icon download links
  src/__types__/index.ts
  src/app/api/index.tsx
  src/app/components/icons/IconBrowser.tsx
  src/app/components/icons/index.tsx
  src/app/components/icons/utilityFunctions.tsx
  src/app/shared/utilities.tsx
Labels: brightlayer-ui

#637 Keep fixing icon links
  src/__types__/index.ts
  src/app/api/index.tsx
  src/app/components/icons/IconBrowser.tsx
  src/app/components/icons/index.tsx
  src/app/components/icons/utilityFunctions.tsx
  src/app/shared/utilities.tsx
Labels: master, brightlayer-ui

#638 Fix react-native-paper install commands
  src/database/index-database.json
  src/database/sitemap-database.json
  src/docs/development/frameworks-mobile/react-native.mdx
  src/docs/style/icon-guidelines.mdx
Labels: brightlayer-ui

#640 Add dependabot config that triggers monthly PR
  .github/dependabot.yml
Labels: brightlayer-ui

#639 Add release notes
  src/__configuration__/resources/index.tsx
  src/docs/release-notes/R21/FullNotes.mdx
  src/docs/release-notes/R22/FullNotes.mdx
  src/docs/release-notes/R23/FullNotes.mdx
  src/docs/release-notes/R24/FullNotes.mdx
  src/docs/release-notes/R25/FullNotes.mdx
  src/docs/release-notes/R26/FullNotes.mdx
  src/docs/release-notes/R26/Summary.mdx
  src/docs/release-notes/index.tsx
Labels: brightlayer-ui

#642 Update roadmap to R27
  src/__configuration__/roadmap/index.ts
  src/__types__/index.ts
Labels: brightlayer-ui

#643 Release R26
  .github/dependabot.yml
  src/__configuration__/resources/index.tsx
  src/__configuration__/roadmap/index.ts
  src/__types__/index.ts
  src/database/index-database.json
  src/database/sitemap-database.json
  src/docs/development/frameworks-mobile/react-native.mdx
  src/docs/release-notes/R21/FullNotes.mdx
  src/docs/release-notes/R22/FullNotes.mdx
  src/docs/release-notes/R23/FullNotes.mdx
  src/docs/release-notes/R24/FullNotes.mdx
  src/docs/release-notes/R25/FullNotes.mdx
  src/docs/release-notes/R26/FullNotes.mdx
  src/docs/release-notes/R26/Summary.mdx
  src/docs/release-notes/index.tsx
  src/docs/style/icon-guidelines.mdx
  yarn.lock
Labels: master, brightlayer-ui
